* {
    background-color: yellow;
    margin: 0;
    padding: 0;
}

h1 {
    position: relative;
    top: 0;
    left:600px;
    font-size: 100px;
}

section {
    margin-right: 100px;
    margin-left: 50px;
}

h2 {
    position: sticky;
    top: 0;
    color: black;
    background-color: orangered;
    font-size: 80px;
    padding-left: 60px;
    

}

ul {
    padding-left: 50px;
    font-size: 30px;
}