h1{
    color:$aquacolor;
    font-size: 55px;
}

.hero{
    @include centerHero();
    .contentInt{
        display: flex;
        flex-direction: column;
        gap:20px;
    }
    p{
        color: white;
        text-align: center;
        font-size: 25px;
    }
    button{
        @include botones();
        &:hover{
            background-color: blue;
            color:white;
        }
    }
}