.cajaRelativa {
    position: relative;
    background-color: white;
    width: 300px; 
    height: 300px;
   
}

.cajaAbsoluta1 {
    position: absolute;
    background-color: rgb(122, 20, 131);
    width: 200px;
    height: 200px;
    top: 90px;
    left: 60px;
    border-radius: 50%;
}

.cajaAbsoluta2 {
    position: absolute;
    background-color: rgb(122, 20, 131);
    height: 100px;
    width: 100px; 
    top: 50px;
    left: 30px;
    border-radius: 50%;
}

.cajaAbsoluta3 {
    position: absolute;
    background-color: rgb(122, 20, 131);
    height: 100px;
    width: 100px; 
    top: 50px;
    left: 180px;
    border-radius: 50%;
}
.cajaAbsoluta4 {
    position: absolute;
    background-color: white;
    height: 50px;
    width: 50px; 
    top: 140px;
    left: 100px;
    border-radius: 50%;
}
.cajaAbsoluta5 {
    position: absolute;
    background-color: white;
    height: 50px;
    width: 50px; 
    top: 140px;
    left: 170px;
    border-radius: 50%;
}
.cajaAbsoluta6 {
    position: absolute;
    background-color: white;
    height: 30px;
    width: 90px; 
    top: 220px;
    left: 116px;
    border-radius: 50%;
}